@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @if (!Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Register now", "Registration", "Account")
        </p>
    }

</div>